<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<!-- Exercise 2: Create a nav bar -->
<%- include('./partials/nav') %>

<body>
    <h1>Full Menu</h1>
    <% menu.forEach(item => { %>
        <p>
            <%=item.name%> ---- <%=item.price%>
            <br>
            <%=item.rating%>⭐
            <br>
            <%=item.details%>
        </p>
        <br>
    <%})%>
</body>

</html>